@import "~vue-snotify/styles/material";

.faktury-header {
  color: white;
  font-weight: bold;
  display: block;
  width: 100%;
}

h1.faktury-page-header {
  @extend .faktury-header;

  font-size: 1.6em !important;
}

h2.faktury-sub-header {
  @extend .faktury-header;

  font-size: 1em !important;
}

.vdatetime-input {
  color: white;
  cursor: pointer;
}

.vdatetime-overlay {
  background-color: rgba(33, 33, 33, 0.9) !important;
}

.v-text-field__prefix {
  padding-right: 16px !important;
}
